@keyframes shimmer {
  0%{
      background-position: 0% 0%;
  }
  100%{
      background-position: -135% 0%;
  }
}

.shimmer{
  background-image: linear-gradient(
      -90deg,
      #28262E 0%,
      #302e37 50%,
      #28262E 100%
  );
  background-size: 400% 400%;
  animation: shimmer 1.2s ease-in-out infinite;
}